/* Card styling */
.login-card {
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  width: 90%;
  max-width: 400px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-height: 500px;
}

/* Title styling */
.login-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2e7d32;
  z-index: 1;
}

/* Tabs styling */
.login-tabs {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 25px;
}

.tab-button {
  border-radius: 25px;
}

.tab-button.active {
  background-color: #2e7d32;
  color: white;
}

/* Input fields styling */
.input-item {
  margin-bottom: 15px;
}

.input-item .ion-label {
  color: #666;
}

.input-item .ion-input {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

/* Forgot password */
.forgot-password {
  text-align: right;
  display: block;
  margin: 10px 0;
  color: #2e7d32;
  cursor: pointer;
}

/* Login button */
.login-button {
  border-radius: 20px;
  background-color: #2e7d32;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Register link */
.register-link {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.link {
  color: #2e7d32;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
