.profile-header {
  background-color: #6b8e23; /* Olive green */
  padding: 20px;
  text-align: center;
  align-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.editprofile-card {
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  width: 90%;
  max-width: 400px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-height: 500px;
}

ion-title {
  margin-left: 1px; /* Tambahkan jarak antara arrow dan teks */
}

.profile-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid white;
}

.profile-name {
  margin-top: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-info {
  padding: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.info-item .icon {
  font-size: 1.5rem;
  color: #6b8e23;
  margin-right: 10px;
}

.info-item span {
  font-weight: bold;
  flex: 1;
}

.info-item p {
  margin: 0;
  color: #666;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #6b8e23;
  padding: 10px 0;
}

.tab-bar ion-icon {
  color: white;
  font-size: 1.5rem;
}

.rounded-button {
  border-radius: 30px !important;
}

/* Login button */
.save-button {
  --border-radius: 20px;
  --background-color: #2e7d32;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
