ion-footer {
  background-color: white;
}

.back-confirm {
  display: flex;
  padding: 20px 0 20px 25px;
  align-items: center;
}

.back-confirm p {
  font-size: 20px !important;
  padding-left: 15px;
}


/* Warna hijau kustom */
.bg-custom-green {
  background-color: #597445;
}

.text-custom-green {
  color: black;
}

.border-custom-green {
  border-color: #597445;
}

.hover-bg-custom-green:hover {
  background-color: #466033;
}


/* Tombol Bulat untuk Plus dan Minus */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

button:hover {
  background-color: #e2e2e2;
}

/* Detail Harian/Mingguan di bawah harga */
.text-sm.mt-2 {
  margin-top: 5px;
}

h2.text-base {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Ukuran font untuk Harga */
p.text-sm {
  font-size: 13px; /* Mengatur ukuran font harga */
}

/* Membuat checkmark menjadi putih */
.checkmark {
  color: white;
  font-size: 16px; /* Ukuran checkmark */
  flex: 0 0 auto;
}

/* Mengubah ukuran dan peletakan tombol quantity */
button.h-6.w-6 {
  font-size: 16px;
  padding: 4px;
  margin-top: 50px;
  flex: 0 0 auto;
}

span.font-semibold {
  font-size: 14px;
  margin-top: 50px;
}


/* FOOTER */
IonFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer-container {
  background-color: white;
  display: flex;
  justify-content: space-between; /* Teks "Total" rata kiri-kanan */
  align-items: center; /* Vertikal rata tengah */
  width: 100%; /* Lebar penuh */
  padding: 5px 20px; /* Tambahkan jarak dalam */
  box-sizing: border-box; /* Pastikan padding tidak merusak tata letak */
}


.footer-label {
  font-size: 16px; /* Ukuran font "Total:" */
  font-weight: 600; /* Font tebal */
  margin: 0; /* Hilangkan margin jika ada */
}

.footer-total {
  font-size: 16px; /* Ukuran font total harga */
  font-weight: bold; /* Font lebih tebal untuk harga */
  color: black; /* Warna hijau sesuai dengan desain */
  margin: 0; /* Hilangkan margin */
}

.btn-order {
  width: 60%; /* Atur lebar tombol */
  max-width: 250px; /* Batas maksimum */
  background-color: #597445;
  color: white;
  border-radius: 20px; /* Membulatkan sudut */
  padding: 10px;
  font-size: 18px !important;
  cursor: pointer;
  margin-top: 10px !important;  /* Jarak atas dari elemen sebelumnya */
  margin-left: 70px;
  margin-bottom: 10px;
}



/* Untuk kontainer utama setiap item di dalam cart */
.cart-item {
  display: flex; /* Flexbox untuk tata letak */
  align-items: center; /* Vertikal sejajar */
  gap: 16px; /* Jarak antar elemen */
  margin-left: 10px;
}

/* Kontainer nama catering */
.catering-name {
  flex-grow: 1; /* Ambil ruang fleksibel */
 
  overflow: hidden; /* Sembunyikan teks berlebih */
  font-size: 14px;
}

/* Elemen tetap (contoh: checkbox, tombol, dll.) */
.fixed-element {
  flex-shrink: 0; /* Jangan mengecil atau berubah ukuran */
}
