.back-confirm {
  display: flex;
  padding: 20px 0 20px 25px;
  align-items: center;
}

.back-confirm p {
  font-size: 16px;
  padding-left: 15px;
}

.tab-container {
  display: flex;
  background-color: #ffffff;
  color: #333;
  box-shadow: -4px 3px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  font-weight: 600;
  border-bottom: 4px solid #597445;
  background-color: white;
}

.content {
  padding: 20px;
}

.transaction-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-card h3 {
  margin: 0;
  font-size: 18px;
}

.transaction-card p {
  margin: 5px 0;
  font-size: 14px;
}
.back-confirm {
  display: flex;
  padding: 20px 0 20px 25px;
  align-items: center;
}

.back-confirm p {
  font-size: 16px;
  padding-left: 15px;
}

.delivery-info {
  background: linear-gradient(to right, #83ab65, rgba(253, 255, 253, 0.278));
  padding: 15px;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

/* ALAMAT */
.card {
  border-radius: 16px;
  background-color: white;
  padding: 18px 21px;
  margin: 0 20px 10px 20px;
}

.card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.card .title h1 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
  /* color: #1c4934; */
}

.card .title p {
  font-size: 14px;
  color: #9f9f9f;
}

.card .detail p {
  font-size: 13px;
}

.delivery-info {
  margin: 0 0 15px 0;
}

.delivery-content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px 0 0;
}

.delivery-content p {
  margin: 0;
  font-size: 14px;
}

.delivery-content .highlight {
  font-weight: bold;
}
.delivery-content .change {
  margin-left: 2px;
  color: #333;
}

/* LIST MENU */
.confirmation {
  padding: 0 20px 6px 20px;
}

.confirmation h1 {
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
}

.list-menu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d1d1d1;
  padding: 14px 9px;
}

.list-image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-order {
  margin-bottom: 15px;
}

.border {
  border-bottom: 1px solid #d1d1d1;
}

.list-menu img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}

.list-menu h2 {
  font-weight: 600;
  font-size: 14px;
}

.list-menu h3 {
  font-size: 13px;
}

.detail-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

/* PAYMENT */

.payment-detail {
  color: #333;
  padding: 2px 0;
  font-size: 14px;
}

.payment-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #d1d1d1;
}

.payment-row .harga {
  color: #000;
  font-weight: 600;
}

/* BUTTON */
.order-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.total-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 8px 15px 8px;
}

.total-payment h1 {
  font-weight: 400;
  font-size: 18px;
}

.total-payment p {
  font-weight: 700;
  font-size: 18px;
}

.btn-order {
  width: 100%;
  background-color: #597445;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
